@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: inter, sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #FFFF;
}
ul{
    list-style: none;
}
header{
    background: #C961FA;        
    width: 1920px;
    height: 107px;
}
nav{
    max-width: 80%;
    margin: auto;
    padding: 1rem 1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #ffffff;
    text-shadow: -2px -1px 0 #000, 2px -1px 0 #000, -2px 1px 0 #000, 2px 1px 0 #000;    
    font-family: "Jersey 25";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
}
.menu {
    display: flex;
    gap: 1.5rem;
    line-height: normal;
    list-style-type: none;
    
}
.menu li a{
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Jersey 25";
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
}
ul{
    list-style: none;
}
.pg-login{
    max-width: 1120px;
    margin: auto;
    padding: 1rem 1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.botao-login {
    background-color: #fafafa;
    color: rgb(248, 248, 248); 
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
    border: none; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 30px; 
    font-family: "Jersey 25";
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 30px; 
}

.botao-register {
    background-color: #fafafa; 
    color: rgb(248, 248, 248);
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
    border: none; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 30px; 
    font-family: "Jersey 25";
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero{
    text-align: center;
}
.subtit{
    font-family: "Montserrat";
    font-size: 50px;
}
.smartphones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smartphones-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.smt img{
    width: 300;
    height: 400; 
    border-radius: 4px;
}
.smt{
    width: calc(25% - 20 px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border: 8px;
}

.searchInput{
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.search-container{
    display: flex;
    align-items: center;
    max-width: 300%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 25px;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: 0 auto;
    grid-gap: 50px;
    
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.slider-itn{
    width: 400%;
    height: 280px;
    display: flex;
    
}

.slider-itn img{
    width: 800px;
    height: 440px;
 }

.slider-itn input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 5s;
}

.manual-navegation{
    position: absolute;
    width: 800px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #C961FA;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #C961FA;
}

#radio1:checked ~ .firt{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%
}

.navegation-auto div{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navegation-auto{
    position: absolute;
    width: 800px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #C961FA;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #C961FA;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #C961FA;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #C961FA;
}

#radio5:checked ~ .navegation-auto .auto-btn5{
    background-color: #C961FA;
}
