* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #bcccd8; /* color5 */
    color: #2c0282; /* color3 */
    line-height: 1.6;
}

header {
    background-color: #8c54fc; /* color1 */
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header .logo {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 1rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    transition: 0.3s ease;
}

header ul li a:hover {
    background-color: #ad7ffa; /* color2 */
    border-radius: 5px;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.star {
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star.hover,
.star.selected {
    color: gold;
}

.imagem-do-produto {
    max-width: 2000px; 
}
.table-container {
    display: flex;
    align-items: flex-start;
}
.info-table {
    margin-left: 20px;
}