@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
nav {
    background: #2c0282;        
}
.logo{
    color: #ffffff;
    text-shadow: -2px -1px 0 #000, 2px -1px 0 #000, -2px 1px 0 #000, 2px 1px 0 #000;    
    font-family: "Jersey 25";
    font-size: 400%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
}

.button-navbar {
    background-color: #fafafa;
    color: rgb(248, 248, 248); 
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
    border: none; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 30px; 
    font-family: "Jersey 25";
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 30px; 
}
body {
    background-color: #bcccd8;
    /* color5 */
    color: #2c0282;
    /* color3 */
    line-height: 1.6;
    width: 100vw;
    }
.menu {
    display: flex;
    gap: 1.5rem;
    line-height: normal;
    list-style-type: none;
    
}

.saudation{
    font-family: "Montserrat";
    color: white;
    font-weight: 400px;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.125rem;
}

.buttons-nav {
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Jersey 25";
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
}

.buttons-nav:hover {
    color: #ffffff;
}

.menu li a{
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Jersey 25";
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
}

ul{
    list-style: none;
}   

header ul li a:hover {
    background-color: #ad7ffa;
    /* color2 */
    border-radius: 5px;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.star {
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star.hover,
.star.selected {
    color: gold;
}

header {
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.left-container {
    display: flex;
    width: 50%;
    padding-left: 10px;
}

.img-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
}

.info-table {
    display: flex;
    width: 45%;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

thead th {
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
}

tbody tr {
    transition: all 0.1s ease-in-out;
}

tbody tr:hover {
    transform: scale(1.05);
}

tbody td {
    background-color: #2c0282;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}

.text-left {
    text-align: left;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    header {
        padding: 15px;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header ul {
        flex-direction: row;
        gap: 0.5rem;
        overflow-x: hidden;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .info-table {
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .left-container {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 5px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .img-container {
        width: 100%;
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .active {
        max-width: 100%;
        box-sizing: border-box;
         overflow-x: hidden;

        html {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}