* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #bcccd8; /* color5 */
    color: #2c0282; /* color3 */
    line-height: 1.6;
    width: 100vw;
}

header {
    background-color: #8c54fc; /* color1 */
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


header .logo {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 1rem;
}

header ul li {
    list-style: none;
}

header ul li .active {
    background-color: #ad7ffa; /* color2 */
    border-radius: 5px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    transition: 0.3s ease;
}

header ul li a:hover {
    background-color: #ad7ffa; /* color2 */
    border-radius: 5px;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.star {
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star.hover,
.star.selected {
    color: gold;
}

header{
    width: 100%;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.left-container{
    display: flex;
    width: 50%;
    padding-left: 10px;
}
.img-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
}

.info-table{
    display: flex;
    width: 45%;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

thead th{
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
}
tbody tr{
  transition: all 0.1s ease-in-out;
}
tbody tr:hover{
  transform: scale(1.05);
}

tbody td{
  background-color: #2c0282 ;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
}

.text-left{
  text-align: left;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
}



@media (max-width: 1000px) {
    header {
        padding: 15px ;
        flex-direction: column;
        align-items: baseline;
        width: 110%;
    }

    header ul {
        flex-direction:row;
        gap: 0.5rem;
    }
    .main-container{
        flex-direction: column;
        padding: 5px;
    }
    .info-table{
        width: 100%;
    }
    .left-container{
        text-align: center;
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 5px;
    }
    .img-container{
        width: 100vw;
    }

   *{
    overflow: hidden;
   }
}







