<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCell</title>
    <link rel="stylesheet" href="./static/layout-prin.css">
</head>
<body>
    <header>
        <span class="logo">WebCell</span>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href=""></a>Smartphones</li>
            <li><a href=""></a>Account</li>
        </ul>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </header>
    <main>
        <section class="hero">
            <span>Notícias</span>
            <h2>Fique por dentro das principais notícias do mundo mobile.</h2>
            <div class="carrossel">
                <div class="layout">
                    <div class="carrssoel-item">
                        <a href="https://www.techtudo.com.br/listas/2024/10/celular-samsung-galaxy-512-gb-6-opcoes-para-nao-ficar-sem-memoria-edqualcomprar.ghtml" target="_blank"><!--target -> serve para impor alguma acao quando o usuario clicar no link, blank é para clicar e abrir outra página.-->
                            <img src="" alt="">
                            <p>Noticia 1</p>
                        </a> 
                    </div>
                    <div class="carrssoel-item">
                        <a href="" target="_blank">
                            <img src="" alt="">
                            <p>Noticia 2</p>
                        </a> 
                    </div>  
                    <div class="carrssoel-item">
                        <a href="" target="_blank">
                            <p>Noticia 3</p>
                        </a> 
                    </div>   
                    <div class="carrssoel-item">
                        <a href="" target="_blank">
                            <img src="" alt="">
                            <p>Noticia 4</p>
                        </a> 
                    </div> 
                    <div class="carrssoel-item">
                        <a href="" target="_blank">
                            <img src="" alt="">
                            <p>Noticia 5</p>
                        </a> 
                    </div> 
                </div>
            </div>
            <button class="left-arrow" onclick="moveSlide(-1)">&#10094; <img src=""></button>
            <button class="right-arrow" onclick="moveSlide(1)">&#10095; <img src=""></button>
            <section class="search">
                <div>
                    <input type="text" id="searchInput" placeholder="Digite sua busca...">
                    <button onclick="searchResults"></button>
                </div>
            </section>
            <section class="smartphones">
                <span>SmartPhone</span>
                <div class="smt1">
                    <p>SmartPhone1</p>
                    <img src="" alt="">
                </div>
                <div class="smt2">
                    <p>SmartPhone1</p>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div class="smt3">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
                <div class="smt4">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
                <div class="smt5">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
                <div class="smt6">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
                <div class="smt7">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
                <div class="smt8">
                    <p>SmartPhone1</p>
                    <a href=""></a>
                    <img src="" alt="">
                </div>
            </section>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>