<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCell</title>
    <link rel="stylesheet" href="../static/layout-prin.css">
</head>
<body>
    <header> <!--Aqui demos inicio a nossa página, a tag header símboliza o cabeçalho da página-->
        <nav class=""> <!--Tag nav utilizada para indicar e menu principal e iterativo da página-->
            <span class="logo">WebCell</span>  <!--Parte da logo + botão interativo-->
            <ul class="menu"> <!--Lista com elemento utilizados no header-->
                <li><a href="">Home</a></li>
                <li><a href="#smartphones">Smartphones</a></li>
                <li><a href="">Account</a></li>
            </ul>
            <ul>
                <div class="pg-login"> <!--Parte de interação com o úsuario para login e registrar-->
                    <div><li><a href="cadastro_user.html" class="botao-login">Login</a></div>
                    <div><li><a href="register.html" class="botao-register">Register</a></li></div>
                </div>
            </ul>
        </nav>                        
    </header>
    <main> <!--Dá inicio a parte principal do nosso site-->
        <section class="hero">
            <div class="divSubtit"><span class="subtit">Notícias</span></div> <!--A parte do Hero é divida em 3 parte principais cada uma com seu assunto-->
            <div class="divSubtit"><h2 class="subtit2">Fique por dentro das principais notícias do mundo mobile:</h2></div>
                <div class="slider"> <!--Temos um carrossel de notciais que ao clicar direciona para a página principal da nóticia-->
                        <div class="slider-itn">
                            <input type="radio" name="radio-btn" id="radio1">
                            <input type="radio" name="radio-btn" id="radio2">
                            <input type="radio" name="radio-btn" id="radio3">
                            <input type="radio" name="radio-btn" id="radio4">
                            <input type="radio" name="radio-btn" id="radio5">
                        <!--Slides Images-->
                            <div class="slide first">
                                <a href="https://www.techtudo.com.br/noticias/2024/10/poco-x6-tem-nfc-veja-se-o-celular-faz-pagamentos-por-aproximacao-edmobile.ghtml" target="_blank"><!--target -> serve para impor alguma acao quando o usuario clicar no link, blank é para clicar e abrir outra página.-->
                                    <img src="/imgs-prin/image 1.png" alt="">
                                    <p>Poco X6 tem NFC? Veja se o celular
                                        faz pagamentos por aproximação</p>
                                </a> 
                            </div>

                            <div class="slide">
                                <a href="https://www.techtudo.com.br/guia/2024/10/galaxy-s24-fe-e-bom-veja-ficha-tecnica-preco-e-lancamento-edmobile.ghtml" target="_blank">
                                    <img src="/imgs-prin/image 2.png" alt="">
                                    <p>Galaxy S24 FE é bom? Veja ficha técnica, preço e lançamento.</p>
                                </a> 
                            </div>  
                            <div class="slide">
                                <a href="https://www.techtudo.com.br/noticias/2024/10/moto-g54-tem-nfc-veja-se-o-celular-faz-pagamentos-por-aproximacao-edmobile.ghtml" target="_blank">
                                    <img src="/imgs-prin/image 4.png" alt="">
                                    <p>Moto G54 tem NFC? Veja se o celular faz pagamentos por aproximação.</p>
                                </a> 
                            </div>   
                            
                            <div class="slide">
                                <a href="" target="_blank">
                                    <img src="/imgs-prin/s23(2).jpg" alt="noticia4">
                                    <p>Noticia 4</p>
                                </a> 
                            </div> 

                            <div class="slide">
                                <a href="" target="_blank">
                                    <img src="" alt="noticia5">
                                    <p>Noticia 5</p>
                                </a> 
                            </div> 
                            <!--End Slides Images-->

                            <!--Navegation Auto-->
                            <div class="navegation-auto">
                                <div class="auto-btn1"></div>
                                <div class="auto-btn2"></div>
                                <div class="auto-btn3"></div>
                                <div class="auto-btn4"></div>
                                <div class="auto-btn5"></div>
                            </div>
                        </div>
                        <!--Manual Navegation-->
                    <div class="manual-navegation">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                        <label for="radio5" class="manual-btn"></label>
                    </div>
                </div>
                <!--Script para fazer a rolagem automatica do slider-->
                <script>
                    let count = 1;
                    document.getElementById("radio1").checked = true;

                    setInterval( function(){
                        nextImagem();
                    }, 5000);

                    function nextImagem(){
                        count++;
                        if(count>4){
                            count=1;
                        }

                        document.getElementById("radio"+count).checked = true;
                    }
                </script>
            </section>
            <section class="smartphones" id="smartphones">
                <div class="divSubtit"><span class="subtit">SmartPhones</span></div>
                <section class="search">
                    <div class="searchContainer">
                        <input type="text" class="searchInput" placeholder="Digite sua busca...">
                        <a class="searchIcon"href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg></a>
                    </div>
                </section>
                <div class="smartphone-grid">
                    <section class="grid1">
                        <div class="smt">
                            <p>Iphone 15 Pro Max</p>
                            <img src="/imgs-prin/iphone15.png" alt="Iphone 15 Pro Max">
                        </div>
                        <div class="smt">
                            <p>Iphone 16</p>
                            <img src="/imgs-prin/iphone16.png" alt="Iphone 16">
                            <a href=""></a>
                        </div>
                        <div class="smt">
                            <p>Samsung Galaxy S23 Ultra</p>
                            <a href=""></a>
                            <img src="/imgs-prin/s23ultra.png" alt="Samsung S23 Ultra">
                        </div>
                        <div class="smt">
                            <p>Samsung Galaxy S24</p>
                            <a href=""></a>
                            <img src="/imgs-prin/s24.png" alt="Samsung S24">
                        </div>
                        <div class="smt">
                            <p>Samsung Galaxy S24 Ultra</p>
                            <a href=""></a>
                            <img src="/imgs-prin/s24ultra.png" alt="Samsung S24 Ultra">
                        </div>
                        <div class="smt">
                            <p>Motorola Edge 50 Neo</p>
                            <a href=""></a>
                            <img src="/imgs-prin/motorolaedge.png" alt="Motorola Edge 50">
                        </div>
                        <div class="smt">
                            <p>Redmi Note 13 Pro</p>
                            <a href=""></a>
                            <img src="/imgs-prin/redmi13.png" alt="Redmi Note 13">
                        </div>
                        <div class="smt">
                            <p>Poco X6 Pro</p>
                            <a href=""></a>
                            <img src="/imgs-prin/pocox6.png" alt="Poco X6">
                        </div>
                    </section>
            </section>
        </section>
    </main>
    <script>
        function searchCelulares() {
            const searchInput = document.getElementById('searchInput').value.toLowerCase();
            const celulares = document.querySelectorAll('.celulares-container .smt1');

            celulares.forEach(celular => {
                const celularNome = celular.querySelector('.celular-nome').textContent.toLowerCase();
                if (celularNome.includes(searchInput)) {
                    celular.style.display = '';
                } else {
                    celular.style.display = 'none';
                }
            });
        }

        let currentSlide = 0;

        function updateCarousel() {
            const carousel = document.querySelector('.carrossel .layout');
            const items = document.querySelectorAll('.carrssoel-item');
            const itemWidth = items[0].offsetWidth + 10; // largura do item + gap

            // Verifica se está no fim e volta ao início, ou vice-versa
            if (currentSlide >= items.length) {
                currentSlide = 0;
            } else if (currentSlide < 0) {
                currentSlide = items.length - 1;
            }

            const offset = -currentSlide * itemWidth;
            carousel.style.transform = `translateX(${offset}px)`;
        }

        function moveSlide(direction) {
            currentSlide += direction;
            updateCarousel();
        }
    </script>
</body>
</html>