<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCell</title>
    <link rel="stylesheet" href="../static/layout-prin.css">
</head>
<body>
    <header>
        <span class="logo">WebCell</span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#celulares"></a>Smartphones</li>
            <li><a href=""></a>Account</li>
        </ul>
        <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/cadastro_user/">Register</a></li>
        </ul>
    </header>
    <main>
        <section class="hero">
            <span>Notícias</span>
            <h2>Fique por dentro das principais notícias do mundo mobile.</h2>
            <div class="carrossel">
                <div class="layout">
                    {% for noticia in noticias %}
                        <div class="carrssoel-item">
                            <a href="{{noticia.link}}" target="_blank"><!--target -> serve para impor alguma acao quando o usuario clicar no link, blank é para clicar e abrir outra página.-->
                                <img src="{{ noticia.imagem_link }}" alt="{{ noticia.titulo }}">
                                <p>{{noticia.titulo}}</p>
                            </a> 
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="left-arrow" onclick="moveSlide(-1)">&#10094; <img src=""></button>
            <button class="right-arrow" onclick="moveSlide(1)">&#10095; <img src=""></button>
            <section class="search">
                <div>
                    <input type="text" id="searchInput" placeholder="Digite sua busca...">
                    <button onclick="searchResults"></button>
                </div>
            </section>
            <section id="celulares" class="smartphones">
                <span>SmartPhone</span>
                {% for celular in celulares %}
                    <div id="{{celular.id}}" class="smt1" onclick="location.href='/detalhar-celular/{{celular.id}}'">
                        <p>{{celular.nome}}</p>
                        <img src="{{celular.imagem_link}}" alt="{{celular.nome}}">
                    </div>
                {% endfor %}
            </section>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>